:root {
    --fundo: hsl(209, 61%, 16%);
    --descricao: hsl(210, 22%, 49%);
}

body{
background-color: var(--fundo); 
background-color: aliceblue;
}
  
    
* {

    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 80%;
}

.card-image img{
width: 350px;
border: #C99E38 4px solid;
border-radius: 4px;

}
.card{
    max-width: 700px;
display: flex;
flex-direction:row;
gap: 1rem;
}
.conteiner
{
    display: flex;
flex-direction:row;
gap:1rem;
}

.titulo {
    display: flex;
    flex-direction: row;
    border-bottom: black 1px dotted;
    gap: 1rem;
    justify-content: space-between;
    font-size:30px;
    color: var(--fundo);
}

.bla {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dinheiro {
color:#C99E38;
font-size:20px;

}
.deus{
color: var(--descricao);
}



